ID: {1};
Título: {El Quijote};
Autor: {Miguel de Cervantes};
Género: {Ficción};
Fecha de Publicación: {1605-01-16};
ID: {2};
Título: {Cien Años de Soledad};
Autor: {Gabriel García Márquez};
Género: {Realismo Mágico};
Fecha de Publicación: {1967-05-30};
ID: {3};
Título: {Don Juan Tenorio};
Autor: {José Zorrilla};
Género: {Drama};
Fecha de Publicación: {1844-03-28};
